@import '../../../styles.scss';

.epoch-history {
    width: 100%;
    padding: 8px;
    background: radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
    border-radius: 8px;
    margin-bottom: 10px;

    .epoch-history-white {
        width: 100%;
        padding: 16px;
        background-color: white;
        border-radius: 8px;

        .epoch-info {
            display: flex;
            cursor: pointer;

            .info {
                flex: 2;
                align-items: flex-start;

                label {
                    color: $grey2;
                    font-size: $body-font-size;
                    margin-right: 16px;
                }

                img {
                    width: 20px;
                    height: auto;
                    margin-right: 12px;
                }
            }  
            
            .arrow {
                img {
                    width: 14px;
                    height: auto;
                }
            }
        }

        .divider {
            width: 100%;
            height: 2px;
            background-color: #E8D7F8;
            margin: 16px 0px;
        }

        .list-title {
            color: $grey2;
            font-size: $smaller-font-size;
            margin-bottom: 15px;
        }

        .history-widget {
            display: flex;
            cursor: pointer;

            &:hover {
                background-color: #E8D7F8;
            }

            .info {
                flex: 1;
                font-size: $smaller-font-size;
                padding: 15px 0px;

                img {
                    width: 20px;
                    height: auto;
                    margin-right: 15px;
                }

                .epoch-key {
                    display: inline-block;
                    margin-right: 24px;
                    @include epkIcon(24px);

                    img {
                        width: 16px;
                        height: auto;
                    }
                }
            }
        }
    }
}