@import '../../styles.scss';

.writing-field {
    width: 100%;
    padding: 10px 8px 16px 8px;
    background-image: radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
    border-radius: 8px;
    position: relative;

    textarea {
        width: 100%;
        height: 32px;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        outline: none;

        font-size: $small-font-size;
        font-weight: 400;
        padding: 7px 16px;
    }

    .error {
        width: 100%;
        font-size: $small-font-size;
        color: #EB5757;
        text-align: center;
        margin: 12.5px auto;

        img {
          width: 18px;
          height: 18px;
          margin-right: 11px;
        }
      }

    .note {
        width: 100%;
        margin: 10px auto 0px auto;
        text-align: center;
        font-size: $smaller-font-size;
    }

    .submit-btn {
        width: 100%;
        height: 32px;
        line-height: 32px;
        color: #fff;
        background-color: $purple1;
        border-radius: 20px;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }

    .setting-area {
        position: relative;
        height: 162px;
        margin-top: 17px;
        margin-bottom: 17px;
        background-color: #fff;
        border-radius: 8px;
        padding: 8px 16px;

        label {
            font-size: $smallest-font-size;
            color: $dark-grey;
            cursor: pointer;
            margin-top: 8px;
            margin-bottom: 8px;

            span {
                color: #BDBDBD;
                font-size: $smallest-font-size;
                font-weight: bold;
            }
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: $grey1;
            margin: 0 auto;
        }

        .setting-epk {
            z-index: 7;
            width: 515px; 
            position: relative;
            top: 8px;
        }

        .setting-reputation {
            z-index: 5;
            position: absolute;
            bottom: 8px;
            textarea {
                width: 515px;
            }
        }
    }
}