@import '../../styles.scss';

.main-content {
    width: 50%;
    margin: 50px auto 100px auto;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-bar {
        width: 100%;
        border-bottom: 1px solid $grey-300;
        padding: 10px;
        font-size: $text-sm;
        display: flex;
        margin-bottom: 40px;

        img {
            width: 24px;
            height: 24px;
        }

        input {
            outline: none;
            border: none;
            background-color:transparent;
            width: 100%;
            font-size: 12px;
        }
    }

    .help-list {
        width: 100%;
        padding: 0px 10px;
        
        .help-item {
            width: 100%;
            border-top: 1px solid $grey-200;

            .help-title {
                width: 100%;
                padding: 15px 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
    
                &:hover {
                    background-color: $grey-200;
                }
    
                span {
                    font-size: $text-sm;
                }
    
                img {
                    margin-left: auto;
                    width: 8px;
                    height: 4px;
                }
            }

            .help-content {
                font-size: $text-sm;
                padding: 10px;
            }
        }
    }

    .help-border {
        border: 1px solid $grey-200;
    }

    .learn-zone {
        width: 100%;
        margin-top: 40px;

        h3 {
            margin: 5px 15px;
        }

        .learn-block {
            display: inline-block;
            width: 200px;
            height: 200px;
            border-radius: 8px;
            background: radial-gradient(99.12% 159.6% at 92.94% 95.93%, #E4D3FF 0%, #E5EEFF 62.33%, #EEE1FF 69.62%, #DAD7F8 81.02%);
            padding: 10px;
            margin: 8px;
            vertical-align : top;

            .learn-block-inner {
                width: 100%;
                height: 100%;
                background-color: white;
                padding: 8px;
                position: relative;

                .learn-title {
                    font-size: $text-sm;
                    font-weight: 500;
                }

                .learn-content {
                    font-size: $text-sm;
                }

                img {
                    width: 40px;
                    position: absolute;
                    bottom: 10px;
                    right: 15px;
                }
            }
        }
    }
}

.report-zone {
    width: 100%;
    height: 400px;
    background-color: $grey-200;
    padding: 80px;
    text-align: center;

    p {
        font-size: $text-sm;
    }

    textarea {
        width: 60%;
        margin-top: 16px;
        font-size: $text-sm;
        color: $grey-400;
        padding: 8px;
        border-color: $grey-700;
        border-radius: 4px;
    }

    .submit-btn {
        width: 60%;
        height: 32px;
        margin: 25px auto;
        padding: 5px;
        border-radius: 20px;
        background-color: $grey-700;
        color: white;
        box-shadow: 0px 3px 2px 0px #0000001A;
        cursor: pointer;
    }

    .error {
        margin-top: 16px;
        font-size: $text-sm;
        color: $grey-200;

        img {
            width: 18px;
            height: 18px;
            margin-right: 11px;
        }
    }
}